
form{
    float: right;
}
h1,h3 {
    color:darkblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
em{
    color:brown
}

body{
    background-image: url(img/leone-venter-VieM9BdZKFo-unsplash.jpg);
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
p::first-letter {
    font-size: 1.5em;
    margin-right: 5px;
    font-weight: bold;
}
dl {
    margin-left: 40px;
    margin-bottom: 10px;
}

dt {
    font-weight: bold;
    margin-bottom: 5px;
}

dd {
    margin-bottom: 10px;
}

.courses{
    font-family:"Trebuchet MS";
    font-size: medium;
    font-style: italic;

}

#top-movies {
    display: flex;
    flex-direction: column-reverse;
    list-style-type: none;
    padding-left: 40px;
}

#top-movies li {
    counter-increment: item;
    margin-bottom: 10px;
}

#top-movies li::before {
    content: counter(item) ". ";
}

.footer {
    background-color: rgba(128, 128, 128, 0.575);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__addr {
    margin: 0;

}

.validator {
    margin-right: 40px;

}
